@use "../../../style/abstract/" as *;
.orderTab {
    &__item {
        padding: 0 12px;
        height: 64px;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid #bfbfbf;
        border-radius: 4px 4px 0 0;
        cursor: pointer;
        &.selected {
            border-top: 2px solid $main-admin-color;
            border-bottom: none;
            color: $main-admin-color;
        }
    }
}
.reviewTab {
    &__item {
        padding: 0 12px;
        height: 30px;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid #bfbfbf;
        border-radius: 4px 4px 0 0;
        cursor: pointer;
        &.selected {
            border-top: 2px solid $main-admin-color;
            border-bottom: none;
            color: $main-admin-color;
        }
    }
}
.order {
    &__iconSearch {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
        cursor: pointer;
    }
}

.tableOrderAdmin {
    margin-top: 10px;
    & th,
    & td {
        border: 1px solid #bfbfbf !important;
        border-collapse: collapse;
    }
    & th {
        background-color: #e8e8e8 !important;
        font-weight: bold;
    }
    & p {
        font-size: 12px !important;
    }
    &__button {
        &__end {
            cursor: pointer;
            border: 1px solid #bfbfbf;
            height: 28px;
            &>div {
                flex: 1;
                margin: auto;
                text-align: center;
            }
            &>span {
                height: 100%;
                border-left: 1px solid #bfbfbf;
            }
        }
    }
}