.tableCategoryAdmin{
    margin-top: 10px;
    & th{
        background-color: #e8e8e8 !important;
        border: 1px solid #bfbfbf !important;
        font-weight: bold;
    }
    & td {
        border: 1px solid #bfbfbf !important;
        border-collapse: collapse;
        font-size: 13px !important;
    }
    & p{
        font-size: 13px !important;
    }
}

.tableCategory {
    margin-top: 10px;
    & th,
    & td {
        border: 1px solid #bfbfbf !important;
        border-collapse: collapse;
    }
    & th {
        background-color: #E8E8E8 !important;
        font-weight: bold;
    }
    & p {
        font-size: 12px !important;
    }
    &__button {
        &__end {
            cursor: pointer;
            border: 1px solid #bfbfbf;
            height: 28px;
            &>div {
                flex: 1;
                margin: auto;
                text-align: center;
            }
            &>span {
                height: 100%;
                border-left: 1px solid #bfbfbf;
            }
        }
    }
}

.category{
    &__iconSearch{
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        right:12px;
        cursor:pointer;
    }
}
.btn {
    &__update {
        width:100% !important;
    }
}