.home {
  img {
    width: 100%;
    border-radius: 4px;
  }

  &>div {
    border-radius: 4px;
  }
}

#slider-home {
  .swiper-button-prev {
    width: 32px;
    height: 56px;
    padding: 8px 0;
    opacity: 0.5;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 0 4px 4px 0px;
    left: 0;

    &::after {
      font-size: 2rem;
      color: #fff;
    }
  }

  .swiper-button-next {
    width: 32px;
    height: 56px;
    padding: 8px 0;
    opacity: 0.5;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 4px 0px 0px 4px;
    right: 0;

    &::after {
      font-size: 2rem;
      color: #fff;
    }
  }

  &:hover {
    .swiper-button-next {
      opacity: 1;
    }

    .swiper-button-prev {
      opacity: 1;
    }
  }

  .swiper {
    position: relative;
    width: 100%;
  }


  // content
  .text-content {
    position: absolute !important;
    color: #ffffff;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%) !important;
    text-align: center;
    width: 65%;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    padding: 0px 20px 0px 0px;

    & p {
      color: #f1f1f1;
      padding: 0;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }


  .text-heading {
    padding: 0;
    font-weight: 400;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 2.9em;
  }

  .text-description {
    padding: 0;
    font-size: 1.5em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }



  // slide background
  .swiper-slide {
    width: 100%;
    height: 855px;
  }

  .bg {
    width: 100%;
    height: inherit;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    will-change: transform;
  }

  .bg.bg1 {
    background-image: url(../../assets/img/IMG_6115-scaled.jpg);
  }

  .bg.bg2 {
    background-image: url(../../assets/img/guitar-station-inside.jpg);
  }
}

//HomePage 
#section_1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(255, 255, 255);
}

.section {
  padding: 30px 0;
  position: relative;
  min-height: auto;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;

  &-content {
    width: 100%;
    position: relative;
  }

  .icon-text {
    padding-left: 15px;
    flex: 1 1 0px;
    height: 44px;
  }

  .icon-box {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    border: 2px solid currentColor;
    border-radius: 100%;
  }

  &-title {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-main {
      display: flex;
      align-items: center;
      font-weight: 400;
      text-align: center;
      margin: 0 15px;
      text-transform: uppercase;
    }

    & span {
      color: #252121;
      font-size: 24px;
      font-family: "Roboto", sans-serif;
    }

  }


  & b {
    display: block;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
}