@import "../../../src/style/abstract/variables";
.card {
    &__sale {
        display: inline;
        font-size: 12px;
        padding: 0 3px;
        height: 16px;
        margin-left: 8px;
        border: 1px solid #ff0000;
    }

    &__price {
        font-size: 1rem !important;
        font-weight: 500 !important;
        margin-top: 4px !important;
    }

    &__discount {
        z-index: 21;
        position: absolute !important;
        margin: 30px 0 0;

        &_badge {
            color: #fff;
            display: table;
            z-index: 20;
            pointer-events: none;
            height: 2.8em;
            width: 2.8em;
            backface-visibility: hidden;
            padding: 0.25em 0.4em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 1rem;
        }
    }

    &__content{
        &-name {
            font-size: 16px;
            font-weight: 600;
            padding-bottom: 5px;
            &:hover {
                color:$client-main-color-hover;
            }
        }
        &-category {
            font-size: 14px;
            font-weight: 400;
            text-overflow: ellipsis;
            overflow: hidden; 
            max-width: 100px;
            color: #666666;
        }
        &-price {
            font-size: 16px;
            font-weight: 700;
            color: $client-main-color;
        }
        &-product-quantity{
            font-size: 14px;
            font-weight: 400;
            text-overflow: ellipsis;
            overflow: hidden; 
            max-width: 100px;
            color: #666666;
        }
    }
    &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}