    .detailProduct{
        &__comment {
            padding-bottom: 15px;
            border-top: 1px solid #ECECEC;
            &-card {
                margin-top: 15px;
                margin-bottom: 15px;
                border-bottom: 1px dotted #ECECEC;
                &-user {
                    display: flex;
                    width: 100%;
                    align-items: flex-start!important;
                    align-self: flex-start!important;
                    justify-content: flex-start!important;
                    vertical-align: top!important;
                    flex-direction: row;
                    &>img {
                        width: 40px;
                        height: 100%;
                        border-radius: 50%;
                    }
                    &-info {
                        width: 100%;
                        padding: 0 22.5px;
                        font-family: 'Roboto', sans-serif;
                        &>h3 {
                            font-weight: 100;
                            font-size: 15px;
                        }
                        &>h4 {
                            font-weight: 100;
                            font-size: 10.5px;
                            line-height: 28px;
                        }
                        &>p {
                            font-weight: 100;
                            font-size: 15px;
                            line-height: 28px;
                            margin-bottom: 19.5px;
                            font-style: italic;
                        }
                    }
                }
            }
            &-pagination {
                width: 100%;
                justify-content: center;
            }
        }
    }
    .textComment {
        padding-bottom: 54px;
        &>p {
            font-size: 17.25px;
            color: #313131;
            text-align: left;
        }
        &__stars {
            display: flex;
            flex-direction: row;
            text-align: left;
            color: #BAC9CA;
            transition: 0.2 ease;
            cursor: pointer;
            margin-bottom: 15px;
            &-one{
                padding: 5px;
                border-right: 1px solid #ECECEC;
                &:hover {
                    color: #F4BA36;
                }
            }
            &-two{
                padding: 5px;
                border-right: 1px solid #ECECEC;
                &:hover {
                    color: #F4BA36;
                }
            }
            &-three{
                padding: 5px;
                border-right: 1px solid #ECECEC;
                &:hover {
                    color: #F4BA36;
                }
            }
            &-four{
                padding: 5px;
                border-right: 1px solid #ECECEC;
                &:hover {
                    color: #F4BA36;
                }
            }
            &-five{
                padding: 5px;
                &:hover {
                    color: #F4BA36;
                }
            }
        }
        &__textarea{
            width: 100%;
            padding: 10px 10px 0 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            min-height: 100px;
            resize: horizontal;
            overflow: auto;
        }
    }