.detailProduct{
    display: flex;
    padding: 16px;
    margin: 12px 0;
    gap: 24px;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    &__img {
        width: 436px;
    }
    &__primary-img {
        width: 100%;
        padding-top: 100%;
        position: relative;
        margin-bottom: 13px;
        cursor: pointer;
        &>* {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 4px;
        }
    }
    &__list-img {
        width: 100%;
        height: 93px;
        position: relative;
        color: rgb(0 0 0 / 0%);
        display: flex;
        justify-content: space-between;
    }
    &__item-img {
        width: 93px;
        height: 100%;
        border: 1px solid #CCCCCC;
        opacity: 0.2;
        transition: 1s ease;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    &__general {
        display: flex;
        width: 100%;
        padding: 10px 15px 0 15px;
    }
    &__info {
        flex: 5;
        padding: 0 15px;
        &>h3 {
            font-size: 1.4em;
            font-family: "Roboto", sans-serif;
            background-color: rgb(0 0 0 / 0%);
            font-weight: 100;
        }
        &-underline-title {
            width: 30px;
            height: 3px;
            background-color: #F4BA36;
            margin: 12px 0;
        }
        &-price{
            display: flex;
            margin-top: 5px;
            margin-bottom: 10px;
            &-original {
                font-size: 1em;
                text-decoration: line-through;
                color: inherit;
                font-weight: 100;
                margin-right: 5px;
            }
            &-sale {
                font-size: 1.8em;
                font-weight: 100;
                color: #f57224;
            }
        }
        &-rate {
            display: flex;
            &-star{
                text-align: center;
                color: yellow;
                margin: 0;
                padding: 0 5px;
            }
            &>p {
                text-align: center;
                font-size: 15px;
            }
        }
        &-shipping {
            margin: 20px 0;
            vertical-align: middle;
            line-height: 28px;
            border-bottom: 1px solid #ccc;
            &>p {
                font-size: 15px;
            }
        }
        &-line{
            width: 100%;
        }
        &-guide {
            margin-top: 5px;
            margin-bottom: 20px;
            font-family: 'Roboto', sans-serif;
        }
    }
    &__add-to-cart {
        background-color: black;
        color: white;
        font-size: 1em;
        line-height: 38px;
        padding: 0 18px;
        margin-bottom: 15px;
    }
    &__support {
        flex: 3;
        padding: 0 15px;
        &-box {
            width: 100%;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
            &-item {
                display: flex;
                margin-bottom: 15px;
            }
        }
    }
    &__title {
        padding: 10px;
        background-color: #ECECEC;
        margin-top: 20px;
        margin-bottom: 9px;
        &>h2 {
            text-transform: uppercase;
            font-size: 1.125em;
            font-weight: 100;
        }
    }
}