@import "../../../src/style/abstract/variables";
#header {
  // border-bottom: 1px solid #333;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: sticky;
  top: 0;
}

.header {
  height: 70px;
  width: 100%;
  z-index: 30;
  position: relative;
  background-size: cover;
  background-position: 50% 0;
  background-color: #ffffff;
  display: block;

  &__account {
    position: relative;
    color: black;
    cursor: pointer;
  }

  &__dropdown {
    padding: 12px 0;
    width: 250px;
    z-index: 100;
    display: none;
    position: absolute;
    background-color: #fff;
    right: -140%;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
      rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
      rgb(0 0 0 / 9%) 0px -3px 5px;

    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid #fff;
      top: -12px;
      left: 22%;
      transform: translateX(-50%);
    }

    &::after {
      position: absolute;
      content: "";
      width: 160px;
      height: 25px;
      top: -25px;
      background-color: transparent;
      left: 50%;
      transform: translateX(-50%);
    }

    & > div {
      cursor: pointer;
      font-size: 12px;
      color: #333;
      display: block;
      padding: 8px 20px;

      &:hover {
        color: #1890ff;
        background-color: #f1f1f1;
      }
    }

    & a {
      cursor: pointer;
      font-size: 12px;
      color: #333;
      display: block;
      padding: 8px 20px;

      &:hover {
        background-color: #f1f1f1;
      }

      & div {
        font-size: 12px;
      }
    }
  }

  &__notification {
    position: relative;
    color: black;
    cursor: pointer;

    &__dropdown {
      padding: 12px 0;
      width: 300px;
      z-index: 100;
      display: none;
      position: absolute;
      background-color: #fff;
      left: -213%;
      top: 153%;
      border-radius: 4px;
      box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px,
        rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px,
        rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;

      &::before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #fff;
        top: -12px;
        left: 22%;
        transform: translateX(-50%);
      }

      &::after {
        position: absolute;
        content: "";
        width: 160px;
        height: 25px;
        top: -25px;
        background-color: transparent;
        left: 50%;
        transform: translateX(-50%);
      }
      & > div {
        cursor: default;
        font-size: 12px;
        font-weight: bold;
        color: #333;
        display: block;
        padding: 8px 20px;
      }

      & a {
        cursor: pointer;
        font-size: 12px;
        color: #333;
        display: block;
        padding: 8px 20px;

        &:hover {
          background-color: #f1f1f1;
        }

        & div {
          font-size: 12px;
        }
      }
      &__top {
        border-bottom: 1px solid #ccc;
      }
    }
  }

  &__account:hover &__dropdown {
    display: block;
  }

  &__notification:hover &__notification__dropdown {
    display: block;
  }

  &__logo {
    // vertical-align:middle;
    width: 80px;
    max-height: 70px;
    margin-left: 0;
    margin-right: 30px;

    &-title {
      font-weight: 700;
      font-size: 32px;
      line-height: 1.5;
      color: #2ac5b3;
      font-family: "Fredoka", sans-serif;
    }
  }

  .element {
    max-height: 100%;
  }

  &__leftElement {
    margin-right: auto;
    // &-item:hover {
    //   transition: ease 0.2s;
    //   border-color: $client-main-color-hover;
    // }
    &-item:hover &-main {
      color: $client-main-color-hover;
      transition: ease 0.2s;
      border-color: $client-main-color-hover;
    }
  }

  &__rightElement {
    margin-left: auto;
  }
}

.navbar {
  position: relative;
  margin-top: 1px;
  display: inline-flex;
  list-style: none;
  align-items: center;

  & li {
    display: block;
    padding: 0;
    // line-height: 37px;
    margin: 0 10px;
  }

  li:hover .subnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // li:first-child {
  //   margin-left: 0 !important;
  // }

  li:last-child {
    margin-right: 0 !important;
  }

  li.divider {
    border-color: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgb(51 69 76);
    height: 30px;
    vertical-align: middle;
    position: relative;
    margin: 0 7.5px;
  }

  & li a {
    font-family: "Open Sans", sans-serif;
    padding: 10px 0;
    line-height: 16px;
    font-weight: 300;
    font-size: 14px;
    display: block;
    align-items: center;
    // text-align: center;
  }

  > li > a {
    color: black;
  }

  .subnav {
    display: none;
    position: absolute;
    background-color: #ffffff;

    a:hover {
      color: $client-main-color-hover;
    }

    &__dropdown {
      box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px,
        rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px,
        rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
      font-size: 100%;
      font-family: "Pathway Extreme", sans-serif;
      padding: 0;
      min-width: 230px;
      border-radius: 2px;
    }

    &__dropdown-img {
      width: 130px;
      padding: 6px;
      margin-left: 5px;
    }

    &::after {
      visibility: hidden;
      display: block;
      content: "";
      clear: both;
      height: 0;
    }
  }

  .buttonSearch {
    display: inline-block;

    .icon {
      font-size: 1em;
      margin-left: 0.12em;
      margin-right: 0.12em;
      min-width: 2.5em;
      padding-left: 0.6em;
      padding-right: 0.6em;
      display: inline-block;
    }
  }
}

.modal-login {
  position: absolute;
  margin-top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 30rem;
  background-color: white;
  box-shadow: 24px;
  padding: 32px;
  border-radius: 20px;
}
