#footer {
  font-size: 15px;
  border-bottom: 1px solid #333;
  
}

.footer {
  display: block;
  width: 100%;
  height: 277px;
  z-index: 30;
  position: relative;
  background-size: cover;
  background-position: 50% 0;
  background-color:  #252121;
  list-style: none;

  &_title {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #f1f1f1;
    font-size: 15px;
  }

  &_divier {
    margin: 8px 0px 12px;
    display: block;
    flex: 1;
    height: 3px;
    background-color: #f4ba36;
    width: 100%;
    max-width: 30px;
  }

  &_content {
    color: #f1f1f1;
    font-size: 15px;
  }

  & li {
    margin-bottom: 9px;
    color: #f1f1f1;
    font-size: 15px;
  }


}